.home-page-container {
  width: 100%;
  min-width: 300px;
  height: 100vh;
  overflow: hidden;
  background-color: #f4f5ff;
}
@media (min-width: 768px) {
  .home-page-container {
    display: flex;
    overflow: auto;
  }
}
.result-container {
  width: 100%;
  height: 50%;
  padding: 20px;
  display: flex;
}
@media (min-width: 768px) {
  .result-container {
    height: 100%;
    overflow: auto;
  }
}

.loading-or-failed {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.failed-message {
  color: #ff0000aa;
  font-size: 28px;
  font-family: 'Roboto';
}
.failed-message-description {
  color: #ff0000aa;
  font-size: 14px;
  font-family: 'Roboto';
}
