input[type='checkbox'] {
  zoom: 1.5;
  margin-right: 5px;
}

.app-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forgot-password-form-container {
  width: 100%;
  max-width: 400px;
  padding: 24px;
  margin: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.forgot-password-heading {
  color: #3caea3;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .forgot-password-heading {
    font-size: 40px;
  }
}
.forgot-password-form-input-item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0 20px 0;
}
.forgot-password-form-input-container {
  width: 100%;
  height: 45px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.forgot-password-form-input-icon {
  color: #0f172a;
  font-size: 24px;
  margin-right: 10px;
}
.forgot-password-form-input-field {
  width: 100%;
  color: #0f172a;
  border: none;
  outline: none;
  font-family: 'Roboto';
}
.forgot-password-form-input-container:focus-within {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.checkbox-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.checkbox-label {
  color: #0f172a;
  font-size: 14px;
  font-family: 'Roboto';
}
.forgot-password-button {
  width: 100%;
  height: 35px;
  color: #ffffff;
  background-color: #3caea3;
  font-family: 'Roboto';
  margin: 20px 0 0 0;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 16px;
}
.forgot-password-error-message {
  color: #ff0000;
  font-size: 12px;
  font-family: 'Roboto';
  align-self: flex-start;
  margin: 2px 0 0 10px;
}
.loader-container {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
